.container {
    width: 960px;
    text-align: center;
}

.inputs {
    width: 960px;
    height: auto;
    Color: #4db6ac;
    background: rgb(230, 230, 230);
    border: 1px;
    border-style: solid; 
    border-color: lightgrey;
    margin: 70px auto;
    text-align: center;
   
}
.init-input {
    padding: 0px 20px;

}

#activeQuestion {
    text-align: center;

}
.current-input {
    /* display: none; */
    width: 960px;
    height: auto;
    Color: #4db6ac;
    background: rgb(230, 230, 230);
    border: 1px;
    border-style: solid; 
    border-color: lightgrey;
    margin: 70px auto;
    text-align: center;
    padding-bottom: 20px;
}
#slider {
    padding: 5px 100px;
    border: none;
    
}
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
/* .current {
    width: 50px;
    height: 200px;
    background: lightgray;
    text-align: center;

}

.goals {
    width: 50px;
    height: 200px;
    background: lightgray;
    text-align: center;
} */